{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>tasks - register</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

  <div class="container" style="  font-size: 1.25rem;">
    <div class="row">
      <!-- Log in -->
      <div class="col-6 mx-auto mt-2">
        <div class="task-title pt-1 pb-1">
          <a class="a-task-title" style=><b>Register</b></a>
        </div>
        <div class="profile-container">
          <form method="post">
            {% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-danger">
              <strong>Error!</strong>
              <ul>
                {% for field, errors in form.errors.items %}
                  <li>{{ field }}: {{ errors.0 }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
            <div class="container">
              <div class="row">
                <div class="col-12"
                  style=" margin-top: 0;height: 3.75rem; display:flex; justify-content: space-between; margin-top: 1.25rem;">
                  <input class="profile-name  mx-auto" name="username" type="text" placeholder="login">
                </div>
              </div>
              <div class="row">
                <div class="col-12"
                  style="height: 3.75rem; margin-top: 0; display:flex; justify-content: space-between;">
                  <input class="profile-name  mx-auto" type="email" name="email" placeholder="email">
                </div>
              </div>
              <div class="row">
                <div class="col-12"
                  style=" height: 2.75rem; margin-top: 0; display:flex; justify-content: space-between;">
                  <input class="profile-name  mx-auto" type="password" name="password1" placeholder="password">

                </div>
              </div>
              <div class="row">
                <div class="col-12"
                  style=" height: 2.75rem; margin-top: 0; display:flex; justify-content: space-between;">
                  <input class="profile-name  mx-auto" type="password" name="password2" placeholder="confirm password">

                </div>
              </div>
              <div class="row">
                <div class="col-12" style="text-align:center;">
                  <a href='http://127.0.0.1:5500/login.html'
                    style="font-size: .85rem; vertical-align: top;">already have account?</a>
                </div>
              </div>

              <div class="row">
                <div class="col-12"
                  style="justify-content: space-between; display: flex;border-top: solid .15rem rgb(211, 210, 210);">
                  <button class="profile-changebutton mx-auto "
                    style="margin-bottom: .5rem;  margin-top:.5rem; ">Register
                    <i class="bi bi-box-arrow-up-right arrow"
                      style=" font-size: .75rem; vertical-align: top;"></i></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- Profile -->
    </div>

    <!-- Add button -->
    <button class="add-button"><i class="bi bi-plus-lg"></i></button>
    <!-- Add button -->

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>